<html>
  <head>
    <title><%= @page.title || "Soy Demo Site" %></title>
    <link href="/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <header class="flex-center">
        <a href="/">
          <img src="/tofu.png" />
        </a>

        <span class="bold">
          <a href="/" class="anchor-plain">
            Soy Demo Site
          </a>
        </span>

        <nav class="main-nav">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/neat">Neat</a>
        </nav>
      </header>

      <%= yield %>
    </div>
  </body>
</html>
