<html>
  <head>
    <title><%= @page.title || "Soy Demo Site" %></title>
  </head>
  <body>
    <header>
      <span>Soy Demo Site</span>

      <nav>
        <a href="/">Home</a>
        <a href="/about.html">About</a>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
